body{
	background-image: url(background.jpg);
	background-color: rgb(10, 10, 10);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#lostTitle{
	font-size: 46px;
	color: #FFF;
	font-family: 'Petit Formal Script', cursive;
	text-shadow: 2px 2px 2px #AAA;
	margin: 60px auto;
	width: 70%;
}

#lostLink{
	font-size: 26px;
	font-family: 'Open Sans', sans-serif;
	color: #DDD;
	margin: 60px auto;
}

h1.webname{
	font-size: 40px;
	color: #FFF;
	font-family: 'Petit Formal Script', cursive;
	text-shadow: 2px 2px 2px #AAA;
	text-align: center;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 5px;
	overflow: hidden;
	background-color: rgba(50,50,50,0.8);
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.3), 0 12px 26px 0 rgba(0, 0, 0, 0.25);
}

nav ul li{
	float: left;
}

nav ul li a{
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;

	display: inline-block;
	color: rgb(200,200,200);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin: 2px;
	transition: 0.3s;

	border-radius: 10px;
	border: double;
	border-width: 7px;
	border-color: rgba(100,100,100,0);
}

nav ul li .active{
	text-shadow: 0px 0px 6px #AAA;
}

nav ul li a:hover{
	background-color: rgba(130,130,130,0.5);
	box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.3), 0 12px 26px 0 rgba(0, 0, 0, 0.25);
	border-color: rgb(150,150,150);
}