body {
	background-color: #101638;
	background-image: url("background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	
	font-family: 'Lora', serif;
}

.title {
	font-size: 3.5em;
	text-align: center;
}

h1 {
	font-family: 'Satisfy', cursive;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
	color: #fdea5d;
}

nav ul {
	text-align: center;
  	padding: 0px;
  	list-style: none;
  	font-weight: bold;
  	font-size: 1.5em;
}

nav ul li {
  	display: inline;
  	margin-right: 20px;
}